/* .footer {
  margin-top: 300px;
} */
.fbanner {
  background-image: url(/public/assets/images/apml-banner.webp) !important;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

  background-position: 100% 30%;
  height: 680px;
  position: relative;
}
.home-content {
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 450px 0;
  background-position: 100% 30%;
}
.home-content .row-cols-9 {
  background: #da251c;
  padding-top: 25px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -22px;
}

/* @media only screen and (min-width: 1200px){
.home-slider .item {
    padding-top: 7%;
    height: 680px;
}} */
/* .fbanner {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 100px 0;
  background-position: 100% 30%;
} */
/* .fbanner {
  display: block;
} */

/*  */
.domestic-moving {
  background-color: white;
  border-radius: 5px;

  padding: 5px;
}
.domestic-moving p {
  width: calc(100% - 0px);
  color: #000;
  font-size: 11px;
  line-height: 12px;
  margin-left: 0px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 24px;
}
/* .items {
  border: none !important;
  background: #fff;
  position: relative;
  text-align: center;
  margin: 0 4px;
  padding: 0px;
  min-width: 105px;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0 4px 0 0;
  list-style: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 28px;
} */

.domestic-moving {
  transition: 0.3s;
}
.domestic-moving:hover {
  transform: translate(0, -10px);
  cursor: pointer;
}
.phone a {
  font-size: 30px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
}

.coccoc-alo-ph-circle {
  width: 80px;
  height: 80px;
  top: -20px;
  right: 20px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.1;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.coccoc-alo-phone {
  background-color: transparent;
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 200000 !important;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transition: visibility 0.5s;
  -moz-transition: visibility 0.5s;
  -o-transition: visibility 0.5s;
  transition: visibility 0.5s;
  right: 150px;
  top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.5);
  opacity: 0.75 !important;
}

.coccoc-alo-ph-circle-fill {
  width: 70px;
  height: 70px;
  top: -15px;
  right: 25px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.1;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.coccoc-alo-ph-img-circle {
  width: 40px;
  height: 40px;
  /* top: 70px; */
  /* left: 70px; */
  position: absolute;
  background: rgba(30, 30, 30, 0.1)
    url(https://drive.google.com/uc?id=1V3N2b79QjDWetC_ss9wI3c-xpWDymn9R)
    no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.7;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
  background-color: #00aff2;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
  border-color: #00aff2;
  opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
  border-color: #75eb50;
  opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
  background-color: rgba(117, 235, 80, 0.5);
  opacity: 0.75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
  background-color: #75eb50;
}

@-moz-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@-o-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

/* @media only screen and (max-width: 1920px) and (min-width: 1480px)
.home-tab .resp-tabs-container {
    width: 100%;
    max-width: 83.5%;
} */

/* @media only screen and (min-width: 1200px)
.home-tab .resp-tabs-container {
    position: absolute;
    left: 0;
    max-width: 1170px;
    width: 1170px;
    margin: 0 auto;
    right: 0;
    padding: 0 15px;
    top: 90px;
} */
/* .home-tab .resp-tabs-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.box_shadow {
    -webkit-box-shadow: 0 4px 6px 0 rgb(138 138 138 / 25%);
    box-shadow: 0 4px 6px 0 rgb(138 138 138 / 25%);
}
.resp-tabs-container {
    padding: 0;
    background-color: #fff;
    clear: left;
} */

.home-contact {
  -webkit-box-shadow: 0 4px 6px 0 rgb(138 138 138 / 25%);
  box-shadow: 0 4px 6px 0 rgb(138 138 138 / 25%);
  padding: 0;
  background-color: #fff;
  clear: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 15px;
}
.captchaC {
  background: #000;
  color: #fff;
  border-radius: 5px;
  padding: 7px;
  width: 100%;
}
.captchaC p {
  margin: auto;
}
.about-content {
  padding-bottom: 100px;
  position: relative;
}
.about-section {
  margin-top: 170px;
  text-align: start;
}
.about-section a {
  color: #f95b34;
}
/* mobile responsive */
@media screen and (min-width: 0px) and (max-width: 720px) {
  .about-section {
    margin-top: 500px;
  } /* show it on small screens */
}
@media screen and (min-width: 720px) and (max-width: 990px) {
  .about-section {
    margin-top: 300px;
  } /* show it on small screens */
}

/* mobile responsive end */
/* .convenience {
  position: relative;
  text-align: center;
}
.convenience img {
  width: 100%;
}
.convenience p {
  position: absolute;
  top: 60%;
  padding-top: 10px;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 12px;
  width: 0;
  width: 75%;
  text-align: left;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  display: table-cell;
  padding-left: 20px;
  vertical-align: top;
}
.safety {
  position: relative;
  text-align: center;
}
.safety img {
  width: 100%;
}
.safety p {
  position: absolute;
  top: 60%;
  padding-top: 10px;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 12px;
  width: 0;
  width: 75%;
  text-align: left;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  display: table-cell;
  padding-left: 20px;
  vertical-align: top;
}
.customized {
  position: relative;
  text-align: center;
}
.customized img {
  width: 100%;
}
.customized p {
  position: absolute;
  top: 60%;
  padding-top: 10px;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 12px;
  width: 0;
  width: 75%;
  text-align: left;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  display: table-cell;
  padding-left: 20px;
  vertical-align: top;
}
.damage {
  position: relative;
  text-align: center;
}
.damage img {
  width: 100%;
}
.damage p {
  position: absolute;
  top: 60%;
  padding-top: 10px;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 12px;
  width: 0;
  width: 75%;
  text-align: left;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  display: table-cell;
  padding-left: 20px;
  vertical-align: top;
} */
/* why mpl section */
/* .why-pms p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
} */

/* why mpl section end*/

/* award section start */
/* .award-section a {
  color: #da251c;
}
.award-section a:hover {
  color: #111111;
} */
/* award section end */

/* what serve section start */

/* @media only screen and (min-width: 1200px)
.section-two .resp-tabs-list {
    margin: 30px auto 20px;
} */

.serve-section .resp-tabs-list {
  width: 23%;
  margin: 15px auto 30px auto;
  padding: 0;
  /* border: 1px solid #ed1c24; */
  display: inline-block;
}

ul.resp-tabs-list {
  padding: 0;
}
[data-aos="fade-up"] {
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0);
}
ul {
  list-style: none;
}

.serve-section li.resp-tab-active {
  border: none !important;
  background-color: #ed1c24 !important;
  padding: 14px 15px;
  color: #fff !important;
  /* width: 100%; */
}
.serve-section li.resp-tab-item {
  border: none !important;
  background-color: #fff !important;
  padding: 14px 15px;
  color: #333 !important;
  /* width: 100%; */
}
.serve-section .resp-tabs-list .resp-tab-active {
  width: 50%;
  text-align: center;
  margin: 0;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  /* background-color: #fff !important; */
}
.resp-tabs-list li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0 4px 0 0;
  list-style: none;
  cursor: pointer;
  /* float: left; */
}
/* .resp-tab-active {
  border-bottom: 0;
  background-color: #fff;
} */
.resp-tab-active {
  border: 3px solid #f00606 !important;
  border-bottom: 0;
  border-top: 3px solid #f00606 !important;
  border-bottom: 3px #f00606 solid !important;
}
.serve-section .resp-tabs-list .domestic {
  width: 50%;
  text-align: center;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #fff !important;
}

.serve-section .resp-tabs-list li a {
  color: #333;
}
/* .resp-tabs-list li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0 4px 0 0;
  list-style: none;
  cursor: pointer;
} */
/* commercial section start */
/* @media only screen and (min-width: 1366px)
.section-two .resp-vtabs ul.resp-tabs-list {
    margin-top: 40px!important;
} */

#commercial {
  display: none;
}
.commercial-section {
  background: #fbf8f5;
  padding-top: 30px;
  overflow: hidden;
}

.commercial-section .csp {
  /* color: #111111; */
  font-size: 15px;
  /* color: #555; */
  line-height: 26px;
  font-weight: 300;
  padding: 10px;
  width: 50%;
  margin-left: 25%;
  top: 50%;
  text-align: start;
}
.commercial-two {
  margin-left: 20%;
}
.commercial-two .col-lg-4 {
  padding: 3%;
}
.supply-chain {
  background-color: transparent !important;
  padding: 19px 10px !important;
  min-height: 140px;
  border: 2px solid #efece8;
  background-color: #fff !important;
  padding: 10px;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #fff !important;
  cursor: pointer;
  width: 80%;
}
.supply-chain .icon {
  font-size: 50px;
  padding: 10px;
  border: none;
}

.commercial-two .col-lg-4 :hover {
  color: #f00606;
  border: 1px solid #f00606;
}
/* #supply {
  display: none;
} */
#warehousing {
  display: none;
}
#exim {
  display: none;
}
#odc {
  display: none;
}
#logistics {
  display: none;
}
#infrastructure {
  display: none;
}
/* tab red */
.tab-red {
  width: 240px;
  height: 100%;
  background: #e11313;
  content: "";
  /* position: absolute; */
  margin-top: -200px;
  margin-left: 510px;
  min-height: 500px;
}

/* tab red end */
.tab-image {
  position: relative;
  right: 0;
}
/* @media only screen and (min-width: 1200px)
.section-two .tab-image img {
    width: 100%;
    height: auto;
    display: block;
} */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.tab-image img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%;
  margin-top: -320px;
  margin-left: 130px;
  height: 550px;
}
/* @media only screen and (min-width: 1366px) */
/* .red-layer {
  top: 94px;
} */

/* @media only screen and (min-width: 1200px) */
.red-layer {
  position: relative;
  /* right: -10px; */
  max-width: 545px;
  background: #e00303;
  padding: 40px 25px 25px 30px !important;
  color: #fff;
  font-size: 14px;
  margin-top: -530px;
  /* min-height: 350px; */
}
.red-layer {
  text-align: left;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
.red-layer h4 {
  font-size: 18px;
  color: #fff;
}
.red-layer p {
  color: #fff;
  font-size: 14px;
  text-align: left;
}

.red-layer ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}
.red-layer ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

/* li {
    font-size: 16px;
    line-height: 28px;
} */
/* commercial section end */
/* what serve section end */

/* what makes unique pms start */
/* @media only screen and (min-width: 1200px)
.section-three h2 {
    font-size: 1.87em;
} */

/* [data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: opacity, transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
} */
/* @media only screen and (min-width: 1200px)
.section-three {
    padding: 60px 0 100px 0;
} */
.what-unique-section {
  padding: 30px 0;
}
[data-aos="fade-up"] {
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0);
}
.what-unique-section h2 {
  margin: 10px 0 10px;
  font-size: 1.3em;
  line-height: 1.2em;
  /* color: #333; */
  font-weight: 700;
  text-align: center;
  font-size: 1.87em;
}
.what-unique-section h5 {
  margin: 0 auto 10px;
  font-size: 14px;
  color: #555;
  text-align: center;
  font-weight: 300;
  font-size: 1.12em;
}

/* @media only screen and (min-width: 1200px)
.section-three ul.resp-tabs-list.parent-list {
    width: 57%;
    margin: 0 auto;
} */
.what-unique-section ul.resp-tabs-list.parent-list {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  display: block;
  width: 57%;
  margin: 0 auto;
}
.what-unique-section ul.resp-tabs-list {
  padding: 0;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.what-unique-section .resp-tabs-list li.resp-tab-active {
  border: none !important;
  color: #da251c !important;
  font-weight: 600;
}
.what-unique-section .resp-tabs-list li {
  background-color: transparent !important;
}
.what-unique-section .resp-tabs-list li {
  padding: 0;
  margin: 0 15px;
  color: #999;
  float: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 10px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: relative;
}
.what-unique-section.resp-tabs-list li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0 4px 0 0;
  list-style: none;
  cursor: pointer;
  /* float: left; */
}
.what-unique-section.resp-tab-active {
  border-bottom: 0;
  background-color: #fff;
}
.what-unique-section.resp-tab-active {
  border: 3px solid #f00606 !important;
  border-bottom: 0;
  border-top: 3px solid #f00606 !important;
  border-bottom: 3px #f00606 solid !important;
}
.clearfix:after {
  clear: both;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.what-unique-section .resp-tabs-list li:hover {
  color: #da251c !important;
}
/* usp section start */
.ledBox-section {
  display: none;
}
.fabric-sheets-section {
  display: none;
}
.usp-contant .red-border {
  border-left: 1px solid #da251c !important;
  position: relative;
  padding-bottom: 0.05em;
  margin-left: 83px;
  bottom: 25px;
}
.usp-section .trucking-h2 {
  padding-left: 40px;
  color: #da251c !important;
}
.usp-section .trucking-h2 .usp-img {
  max-width: 100%;
  width: 60px;
  background-color: rgba(255, 255, 0, 0.783);
  border-radius: 100%;
  padding: 10px;
  margin: 15px;
}

.usp-contant p {
  /* width: 70%; */
  margin-left: 50px;
}
.red-border a,
.red-border .icon {
  color: red;
}
.red-border a:hover {
  color: rgba(255, 255, 0, 0.865);
}
.led-box-section {
  margin-top: 25%;
}
.led-box-section .led-box-h2 {
  color: #c5c1c1;
  font-size: 20px;
  position: relative;
  margin-bottom: 20px;
  font-weight: 700;
  cursor: pointer;
}
.led-box-section .led-img {
  content: "";

  margin-left: -6px;
  margin-top: 1%;

  width: 11px;
  height: 11px;
  background: #e1e1e1;
  border-radius: 50%;
}

.fabric-sheet-section .fabric-sheet-h2 {
  color: #c5c1c1;
  font-size: 20px;
  position: relative;
  margin-bottom: 20px;
  font-weight: 700;
  cursor: pointer;
}
.fabric-sheet-section .fabric-img {
  content: "";

  margin-left: -6px;
  margin-top: 1%;

  width: 11px;
  height: 11px;
  background: #e1e1e1;
  border-radius: 50%;
}
.trucking-cube-img {
  width: 100%;
  /* position: absolute; */
  display: block;
}
.trucking-cube-img img {
  max-width: 100%;
}
.story-behind {
  background: #da251c;
  width: 20%;
  padding: 20px;
  text-align: center;
  font-size: 17px;
  margin-left: 70%;
  margin-top: -10%;
  position: relative;
  display: block;
}
.story-behind a {
  color: #fff;
}
.story-behind .icon {
  color: rgba(255, 255, 0, 0.763);
}
.story :hover {
  background: lemonchiffon;
  color: red;
}
.story :hover {
  color: #333;
}
/* usp section end */
.advantages ul {
  margin-left: 35px;
  list-style: disc;
  color: #000;
  font-size: 16px;
  line-height: 28px;
}
.safety-belts ul {
  list-style: disc;
  color: #000;
  font-size: 16px;
  line-height: 28px;
}
#storage {
  display: none;
}
#advantage {
  display: none;
}
#safety {
  display: none;
}
#study {
  display: none;
}
/* what makes unique pms end */

/* about our company section start */

/* .about-company-section {
  background: #fbf8f5;
  padding: 30px 0;
  position: relative;
  overflow: hidden;
  padding: 50px 0 40px 0;
}

.about-company-section:before {
  background-size: 85%;
}


.about-company-section:before {
  content: "";
  background: url(/public/assets/images/bg-dots.png) no-repeat;
  width: 179px;
  height: 164px;
  position: absolute;
  left: 0;
  top: 100px;
  background-size: 75%;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.about-company-section:after {
  bottom: -137px;
}

.about-company-section:after {
  content: "";
  background: url(/public/assets/images/flag.webp) no-repeat;
  width: 900px;
  height: 600px;
 
  margin-top: -600px;
  margin-left: 620px;
  z-index: -1;
}
.clearfix:after {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.moving-employee {
  background-image: url(/public/assets/images/apml-moving-employees.webp) !important;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 30px;
}
.moving-employee {
  background-size: cover !important;
  padding: 20px 10px 40px 10px;
  position: relative;

  background-position: center right;
  min-height: 184px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.moving-employee:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
}
.employee-text {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.employee-text h4 {
  font-size: 1em;
  position: relative;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  color: #333;
  font-weight: 400;
  line-height: 22px;
  font-size: 20px;
}
.employee-text p {
  font-size: 1em;
  position: relative;
  line-height: 1.2em;
  margin-bottom: 30px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  font-weight: 300;
}
.moving-employee a {
  color: #fff;
  background: #ed1c24;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  border-radius: 5px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: absolute;
  left: 0;
  right: 14px;
  margin: 0 auto;
  bottom: 20px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
}
.home-removals {
  background-image: url(/public/assets/images/agarwal-packers-home-storage.webp) !important;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 30px;
  background-size: cover !important;
  padding: 20px 10px 40px 10px;
  position: relative;

  background-position: center right;
  min-height: 184px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.home-removals:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
}
.home-removals a {
  color: #fff;
  background: #ed1c24;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  border-radius: 5px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: absolute;
  left: 0;
  right: 14px;
  margin: 0 auto;
  bottom: 20px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
}
.need-claim {
  background-image: url(/public/assets/images/apml-moving-insurance.webp) !important;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 30px;
  background-size: cover !important;
  padding: 20px 10px 40px 10px;
  position: relative;

  background-position: center right;
  min-height: 184px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.need-claim:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
}
.need-claim a {
  color: #fff;
  background: #ed1c24;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  border-radius: 5px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: absolute;
  left: 0;
  right: 14px;
  margin: 0 auto;
  bottom: 20px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
}
.moving-coordinar {
  background-image: url(/public/assets/images/apml-moving-coordinator.webp) !important;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 30px;
  background-size: cover !important;
  padding: 20px 10px 40px 10px;
  position: relative;

  background-position: center right;
  min-height: 184px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.moving-coordinar:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
}
.moving-coordinar a {
  color: #fff;
  background: #ed1c24;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  border-radius: 5px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: absolute;
  left: 0;
  right: 14px;
  margin: 0 auto;
  bottom: 20px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
}

.about-company-section-right img {
  margin-top: 20px;
}

.awards-slider {
  max-width: 530px;
  background: #fff;
  margin: -35px auto 0 auto;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  z-index: 99;
}
.carousel-item {
  float: none;
} */
/* .about-company-section .col-lg-6 {
  padding: 30px;
} */
/* about our company section end */

/* our testimonial section start */

.testimonial-box {
  max-width: 100%;
  width: 300px;
  border-radius: 30px;
  /* -webkit-box-shadow: 5px 5px 8px 0 #eee; */
  /* box-shadow: 5px 5px 8px 0 #eee; */
  padding: 30px;
  background-color: #fff;
  color: #111;
  transition: 0.3s;
  box-shadow: 5px 10px #f95b34;
}

.testimonial-box:hover {
  transform: translate(0, -10px);
  box-shadow: 5px 10px blue;
  cursor: pointer;
}
.testimonial-box img {
  max-width: 100%;
  border-radius: 50%;
}
.testimonial-row {
  margin-left: 40px;
  padding: 10px;
  margin-top: 30px;
}
.testimonial-btn button {
  background-color: #f95b34;
  border-radius: 10px;
  border: none;
  width: 200px;
  margin-left: 40%;
  margin-top: 30px;
}
.testimonial-btn button:hover {
  background-color: #fff;
  color: #111;
  border: 1px solid #f95b34;
}
.testimonial-line {
  margin-top: 5px;
  height: 2px;
  width: 195px;
  border: none !important;
  font-weight: 600;
  margin: 0 4px 0 615px;
  content: "";
  display: block;
  background-color: #f95b34;
}
@media screen and (min-width: 0px) and (max-width: 720px) {
  .testimonial-box {
    margin-top: 30px;
  }
}
@media screen and (min-width: 0px) and (max-width: 720px) {
  .testimonial-line {
    margin: auto;
  }
}
@media screen and (min-width: 0px) and (max-width: 720px) {
  .testimonial-btn button {
    /* margin: auto; */
    margin-top: 20px;
    text-align: center;
  }
}
/* .testimonial-first img {
  max-width: 100%;
  width: 100px;
} */

/* body {
  overflow: hidden;
} */
/* .left {
  float: left;
  height: 350px;
}
.hidden {
  height: 350px;
}

.left {
  width: 50%;
  background: #fff;
  z-index: 1;
}

.hidden {
  width: 50%;
  z-index: 2;
  position: absolute;
  background: #f90;
  color: #000;
}

.right {
  width: 50%;
  right: 0;
  position: absolute;
  height: 350px;
  background: #000;
  color: #fff;
}

.clear {
  clear: both;
} */
/* .testimonial-first {
  padding-top: 10px;
}
.corporate-section {
  -webkit-box-shadow: 5px 5px 8px 0 #eee;
  box-shadow: 5px 5px 8px 0 #eee;
  padding: 30px;
  
}
.client-text h4 {
  font-size: 45px;
  color: rgba(245, 245, 245, 0.5);
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: rgb(0 0 0 / 1%) 0 0 1px;
  position: relative;
  margin-left: 130px;
  margin-top: -130px;
}
.client-text p {
  font-size: 14px;
  color: #555;
  line-height: 24px;
  text-align: center;
  font-weight: 300;
  margin-left: 130px;
  /* margin-top: -80px; */
/* }
.client-details {
  padding: 40px;
  display: flex;
  column-gap: 20px;
  justify-content: center;
  margin: 20px;
}
.client-details h5 {
  color: #e00303;
} */
/* testimonial nav start */

/* .testimonial-nav h5 {
  font-size: 18px;
  font-weight: 500;
  color: #666;
  text-transform: uppercase;
  margin: 0 0 0 28px;
  position: relative;
}

.testimonial-nav h5:after {
  background: #999;
  width: 20px;
  height: 1px;
  content: "";
  display: inline-block;
  position: absolute;
  left: -28px;
  top: 50%;
}

.custom-nav {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  cursor: pointer;
}
.testimonial-custom-nav {
  margin-top: -10px;
  border-left: 1px solid #999;
  padding-bottom: 1px;
}

.custom-nav li :hover {
  background-color: #e00303;
  margin-right: 10px;
  color: #eee;
}
.custom-nav h6 {
  position: relative;
  display: inline-block;
  -webkit-transition: color 0.6s ease;
  -o-transition: color 0.6s ease;
  transition: color 0.6s ease;
  cursor: pointer;
  padding: 10px 10px;
  z-index: 1;
}
.custom-nav .icon {
  cursor: pointer;
  margin-top: 10px;
}

#banking {
  display: none;
}
#defence {
  display: none;
}
#iits {
  display: none;
}
#judicial {
  display: none;
}
#govt {
  display: none;
}
#ias {
  display: none;
}
#media {
  display: none;
} */
/* testimonial nav end */
/* our testimonial section end */
/* features section start */

/* .features{

} */
.features-img {
  padding: 60px;
  margin-left: 20px;
}
.features-img img {
  max-width: 100%;
  transition: 0.5s all ease-in-out;
}
.features-img img:hover {
  transform: scale(1.1);
  background-color: #e11313;
}
#bw {
  display: none;
}
#business {
  display: none;
}
#hindu {
  display: none;
}
#ndtv {
  display: none;
}
/* features section end */
/* book flight section start */
/* .book-flight img {
  max-width: 100%;
} */

/* book flight section end */
